<h2><%= @listing.title %></h2>

<h4><%= @listing.content %></h4>

<% if @listing.reviews.any? %>
  <% @listing.reviews.each do |review| %>
    <ul>
      <li><%= review.content %></li>
    </ul>
  <% end %>
  <% else %>
  <p>
    No reviews have yet been posted.
  </p>
<% end %>



<p>
  <%= link_to "Edit", edit_listing_path(@listing) %>
</p>

<%= link_to "Delete Posting", listing_path(@listing),
                              :data => {
                                        :confirm => "You sure?",
                                        :method => "delete"
                              } %>
